{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}
{% block content %}

<div  class="container-fluid map-container2 h-100">
   <div class="row">
      <div class="col text-center mt-3">
         <div class="container-fluid map-top-header-bgcolor">
            <div class="row">
               <div class="col-md-8 col-md-12 text-center">
                  <h1 class="display-4 map-top-header-color logo-font text-center">
                     Office Locations
                  </h1>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div id="map-header-text" class="col-md-8">
         <h3 class="col-md-8 text-muted">Use the seach bar below to find out which one of our locations is closest to you! </h3>
      </div>
   </div>
   <div id='storerocket-widget' style='width:100%;' data-storerocket-env='p' data-storerocket-id='DLJyZDx8l2'>
      <p style='text-align:center;font-size:13px;padding:10px;'>Store locator is loading from StoreRocket <a
         target='_blank' href='https://storerocket.io' style='font-size:13px;'>Store Locator Widget</a>..</p>
   </div>
   <script>
      (function () {
          var a = document.createElement('script');
          a.type = 'text/javascript';
          a.async = !0;
          a.src = 'https://cdn.storerocket.io/js/widget.js';
          var b = document.getElementsByTagName('script')[0];
          b.parentNode.insertBefore(a, b);
      }());
   </script>
</div>

{% endblock%}