{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid map-container2">
        <div class="row">
            <div class="col text-center mt-3">
               <div class="container-fluid map-top-header-bgcolor">
                  <div class="row">
                     <div class="col-md-8 col-md-12 text-center">
                        <h1 class="display-4 map-top-header-color logo-font text-center">
                           Question and Answer
                        </h1>
                     </div>
                  </div>
               </div>
            </div>
         </div>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <!-- Accordion -->
                    <div id="accordionExample" class="accordion shadow">
                        {% for question in questions %}
                        <!-- Accordion item 1 -->
                        <div class="card trading-background">
                            <div class="card-header shadow-sm border-0">
                                <h2 class="mb-0">
                                    <button type="button" data-toggle="collapse" data-target="#collapseOne-{{ forloop.counter }}"
                                     aria-expanded="true" aria-controls="collapseOne" class="btn btn-link text-dark font-weight-bold text-uppercase">
                                     <strong>Question:</strong> {{ question.question_about }} <i class="fas fa-caret-down"></i>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne-{{ forloop.counter }}" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
                                <div class="card-body p-5">
                                    <strong>Asked by: {{ question.asked_by }}</strong>
                                    <p>{{ question.question_about }}</p>
                                    <strong>Answered by: {{ question.answered_by }}</strong>
                                    <p>{{ question.answer }}</p>
                                    <div class="btn-row">
                                        {% if request.user.is_superuser %}
                                            <small class="ml-3">
                                                <div class="col">
                                                    <a id="dev-btn" class ="btn-black1 border-0" href="#">View Question <i class="fas fa-id-badge"></i></a>
                                                </div>
                                                *Down for Maintanice*
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
</div>
{% endblock %}