{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}
{% block content %}
<div id="hidden_spacing" class="col">
   <div class="row"></div>
</div>
<div id="page1" class="container-fluid">
   <div class="container h-100 col-md-12" id="header-1">
      <div class="row">
         <div id="header-background" class="col-md-8 col-md-12 text-center">
            <h1 class="display-4">
               <strong class="logo-font text-center text-black my-0" id="logo-text-store">Welcome to<br>The<br> Roula Store!</strong><br>
            </h1>
         </div>
         <div>
            <div id="header-card" class="card col-md-12">
               <div class="row">
                  <div class="col-sm-6">
                     <h3 class="text-center">What is Roula-Store?</h3>
                     <p id="content-body text-center">The Roula Store is a capital investment company made by Roula.
                        The pandemic last year forced many people to close down their shops and open up online stores.
                        We encourage users to join and sign up here and stick around for when Roula goes public.
                        When the app goes live we plan on offering free advertisements for struggling businesses. 
                        We sell our merchandise here and we plan on using this revenue on all our current users here!
                     </p>
                  </div>
                  <div class="col-sm-6">
                     <h3 class="text-center">What is Roula?</h3>
                     <p id="content-body text-center">Roula is a start-up company that is behind the movement of data compensation. 
                        You may be wondering what <i>"Data-Compensation"</i> is however, its main goal is to take the money that we 
                        deserve from the Tech giants. Last year alone the 
                        Tech company's made over a trillion dollars from their user's data. Roula's main goal upon opening is that 
                        we will be paying our users with the money we earn from our user's engagement.
                        For years we keep seeing how big and powerful these companies are and users are left with nothing but obtrusive advertisements.
                     </p>
                  </div>
               </div>
            </div>
            <div id="header-card" class="card col-md-12">
               <div class="col">
                  <h3 class="text-center">Why Shop in our Store?</h3>
                  <p id="content-body text-center">As the potential leader in <i>"Data-Compensation"</i> 
                     we plan on using our store as a way to gather users for Roula's beta launch. We want to start reaching 
                     out and grab potential users as soon as possible. The earlier you engage with our store, the quicker you'll
                     be granted special promotions upon launch! We are planning on rewarding users that sign up for the beta launch with online
                     coupons, gift cards, and crypto currencies from ours sponsors! 
                  </p>
               </div>
            </div>
            <div id="header-card" class="card col-md-12">
               <div class="col">
                  <h3 class="text-center">Want to join the devlopment team?</h3>
                  <p id="content-body text-center">Roula is still in early devlopment, we are currently hiring devlopers and graphic desginers. You can can contact us to join the team, just reach out!
                     We are also willing to pay in cryto's like Bitcoin <i class="fab fa-bitcoin"></i> or Ethereum <i class="fab fa-ethereum"></i>, for both full-time and freelance job postions. We
                     have already gotten verbal contracts from alot of well known people, from Elon Musk to Kevin Hart. Just send us a email at roulastoreassistant@gmail.com, and we will get back to you as soon as possible!
                     We have about 5 offices around the world, so if you ever want to have a tour stop by!
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="bottom-header" class="container-fluid">
      <div class="row">
         <div class="col-md-8 col-md-12 text-center">
            <h1 id="header-color"class="text-center display-4 logo-font">
               All Merchendise
            </h1>
            <div class="my-5">
               <h4>
                  <a id="btn-text-color" href="{% url 'products' %}" class="shop-now-button bg-color btn btn-lg text-center rounded-0 text-uppercase py-3">Shop Now</a>
               </h4>
            </div>
         </div>
      </div>
   </div>
   <div class="card-group">
      <div class="card">
         <img class="card-img-top" src="media/donnation_1.png" alt="Donnation Picture">
         <div class="card-body">
            <h5 class="card-title">Donations</h5>
            <p class="card-text">Please take a look around and vist the store. Sense we are a start up we are looking for ways of funding our project. 
               To raise capital in the starting stages we are selling
               merchendise in our store. We also offer one time Donations that unlock items in the future when application is released. If you don't like
               any of the merchendise, we do offer donations!
            </p>
            <p class="card-text"><small class="text-muted">Last updated: 7/19/2021</small></p>
         </div>
      </div>
      <div class="card">
         <img class="card-img-top" src="media/Goal.png" alt="Card image cap">
         <div class="card-body">
            <h5 class="card-title">Goal</h5>
            <p class="card-text">Our goal is delivering our users compensation for their online footprint.
               We use this term when explpaing about all the data one person creates online. This can be many 
               things like, watching a advertisment, clicking a advertisment (on-accident), sending a email,
               leaving a like. All of these things are logged and that data is sold off right under our nose.
            </p>
            <p class="card-text"><small class="text-muted">Last updated: 7/19/2021</small></p>
         </div>
      </div>
      <div class="card">
         <img class="card-img-top" src="media/question_1.png" alt="Card image cap">
         <div class="card-body">
            <h5 class="card-title">About Us</h5>
            <p class="card-text">We are a small group of indivuials trying to make things right and put our foot down for the
               \ people. We are trying to give a voice to the comapnies that take advange of us by selling our data.
            </p>
            <p class="card-text"><small class="text-muted">Last updated: 7/19/2021</small></p>
         </div>
      </div>
   </div>
   <div id="bottom-header" class="container-fluid">
      <div class="row">
         <div class="col-md-8 col-md-12 text-center">
            <h1 id="header-color"class="display-4 logo-font text-center">
               Want to meet the Team?
            </h1>
            <div class="my-5">
               <h4>
                  <a id="btn-text-color" href="{% url 'team' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">The Team</a>
               </h4>
            </div>
         </div>
      </div>
   </div>
   <div class="card-group">
      <div class="card">
         <img class="card-img-top img-fluid" src="media/dream_bubble.png" alt="Dream Bubble">
         <div class="card-body">
            <h5 class="card-title text-center">Donations</h5>
            <p class="card-text">Please take a look around and visit the store. We are a start up we are looking for ways of funding our project. 
               To raise capital in the starting stages we are selling
               merchandise in our store. 
            </p>
            <p class="card-text"><small class="text-muted">Last updated: 7/19/2021</small></p>
         </div>
      </div>
      <div class="card">
         <img class="card-img-top" src="media/team-work.png" alt="Team work">
         <div class="card-body">
            <h5 class="card-title">Team Building</h5>
            <p class="card-text">Our team is currently small but we always are taking applications. 
               Our workplace is fun, fast, and ground-breaking. We always are working hard and around
               the clock to meet all expectations from our users. We can't stress enough how important
               it is to receive feedback from our users. Soon we will have a function Q&A form where we can
               all share our insights. 
            </p>
            <p class="card-text"><small class="text-muted">Last updated: 7/19/2021</small></p>
         </div>
      </div>
      <div class="card">
         <img class="card-img-top" src="media/money_picture.png" alt="Card image cap">
         <div class="card-body">
            <h5 class="card-title">Money for Data</h5>
            <p class="card-text">We all know that the last year or two have been hard to coupe with,
               however we want this application to open peoples eyes and also help finacially with little work
               to be done to earn money. Just think, you could possibly earn money from scrolling and clicking! It 
               doesn't get any easier than that!
            </p>
            <p class="card-text"><small class="text-muted">Last updated: 7/19/2021</small></p>
         </div>
      </div>
   </div>
   <div id="bottom-header" class="container-fluid">
      <div class="row">
         <div class="col-md-8 col-md-12 text-center">
            <h1 id="header-color"class="display-4 logo-font text-center">
               Office Location's
            </h1>
            <div class="my-5">
               <h4>
                  <a id="btn-text-color" href="{% url 'locations' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Visit Us</a>
               </h4>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}