{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100" id="header-1">
        <div class="row h-100">
            <div class="col-8 col-md-12 text-center">
                <h1 id="header-color"class="display-4 logo-font">
                    <strong>Welcome to Roula!</strong><br>
                </h1>
                    <i>Please take a minuite to read all about us!</i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-5 col-md-6 text-lg-right">
                <h1 id="header-color"class="display-4 logo-font">
                    The new look we are giving to your online data!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Support Us</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Donnations</h5>
            <p class="card-text">Please take a look around and vist the store. Sense we are a start up we are looking for ways of funding our project. To raise capital in the starting stages we are selling
                merchendise in our store. We also offer one time Donnations that unlock items in the future when application is released. 
            </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">About Us</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Goal</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-5 col-md-6 text-lg-right">
                <h1 id="header-color"class="display-4 logo-font">
                    The new look we are giving to your online data!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Support Us</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}