html {
    height: 100%;
    background-color: #5cdb95;
}

body {
    background: url('/media/background_picture2.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    background-color: #5cdb95;
    font-family: 'Roboto Slab';
    z-index: 1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Header */

.bg-back {
    background-color: #05386b;
}

#header-1 {
    background: #8ee4af;
}

.logo-font {
    text-transform: uppercase;
    color: #edf5e1;
}

.main-logo-link {
    width: fit-content;
}

#main-nav {
    color: #05386b;
}

.shop-now-button {
    background: #05386b;
    color: #edf5e1;
    min-width: 260px;
}

#header-color {
    color: #05386b;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #05386b;
    color: #05386b;
}

.text-black {
    color: #edf5e1 !important;
}

.border-black {
    border: 1px solid white !important;
}
/* Card Group */
.card-group .card {
    background-color: #edf5e1;
    margin: 10px;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}