html {
    height: 100%;
    
}
#html_style {
    background-color: #5db27f;
}

body {
    background: url('/media/abstract_background.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Roboto Slab';
    z-index: 1;
    padding-top: 50px;
}
/* Logo Font Style */

#logo-text-store {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);
}

/* Top of Main page */

#header-top-css {
    color: #05386b;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);
}

/* Hidden sizing elements */
#hidden_spacing {
    margin: 20px;
}
/* Random Box desgin */

#box-1 {
    background-color: #5cdb95;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
/* Card settings */
#product_detail_card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: #edf5e1;
    margin-top: 25px;
    position: relative;
}

/* Delivery Banner */

#delivery-banner {
    background-color: #5cdb95;
    border-color: #edf5e1;
    padding: 20px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#delivery-banner h4 {
    color: #05386b;
}

/* Header */

.bg-back {
    background-color: #42629a;
}
 #bottom-header {
     background-color: #42629a;
     margin-top: 15px;
     margin-bottom: 15px;
     border-color: #edf5e1;
    padding: 20px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);

 }

 #sorting_background {
     z-index: 2;
     color: #42629a;
 }

 #header-card {
     background: none;
     border: #5cdb95;
     margin-top: 20px;
 }
#header-1 {
    background: #8ee4af;
    padding-top: 15px;
    border-color: #edf5e1;
    padding: 20px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    height: fit-content;
   
}

.logo-font {
    text-transform: uppercase;
    color: #42629a;
    z-index: 33;
}

#header-background {
    background-color: #42629a;
    padding: 20px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    height: fit-content;
}
#hr-color {
    color: #42629a;
    height: 12px;
    
}

#product-amt-text {
    color: #42629a;
    z-index: 33;
}

.main-logo-link {
    width: fit-content;
}

#main-nav {
    color: #42629a;
}

.shop-now-button {
    background: #edf5e1;
    color: #edf5e1;
    font-weight: 600;
    min-width: 260px;
    z-index:1 ;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.btn-lg {
    color: #5cdb95;
}
 .shop-now-button:hover a{
    color: black;
}
#btn-text-color{
    background-color: #8ee4af;
    color: #42629a;
    font-weight: 600;
    font-family: "Roboto-Slab";
}
/* Product Detail Buttons */
#btn-text-color1 {
    background-color: #42629a;
    color: #000;
    font-weight: 600;
    font-family: "Roboto-Slab";
}
.bg-color {
    background-color: #5cdb95;
}


#header-color {
    color: #edf5e1;
}

#btn-text-color:hover a{
    color: black;
}

#btn-text-color:hover,
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #edf5e1;
    color: #edf5e1;
    opacity: initial;
    z-index: -1;
}

/* Shopping bag button */
.btn-black1:hover,
.btn-black1:active,
.btn-black1:focus {
    background: #5cdb95;
    color: black;
   
}

.btn-black2:hover,
.btn-black2:active,
.btn-black2:focus {
    background: #5cdb95;
    color: black;
   
}

.btn-black1 {
    border: black;
}

.li .nav-item:hover {
    color:#05386b;
}

.text-black {
    color: #edf5e1 !important;
}

#bag-text-color {
    color: #42629a !important;
}
 .text-black2 {
     color: #42629a !important;
 }

 .text-black3 {
     color: #000 !important;
 }
.border-black {
    border: 1px solid white !important;
}

.bg-black {
    background: #000 !important;
}
/* Card Group */
.card-group .card {
    background-color: #8ee4af;
    margin: 10px;
}

/* Scroll Up butotn */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.btt-link {
    cursor: pointer;
}
/* Search Icon */

.fa-search {
    color: #edf5e1;
}
/* Back Icon */
.icon {
    color: white;
}
/* Hamburger Icon */
.fa-bars {
    color: #edf5e1;
    border-color: #edf5e1;
}
/* quantity_color buttons */
#quantity_color {
    color: black;
    background-color: #42629a;
}
/* Shopping bag Css */
#shopping-bag-text {
    color: #42629a;
}
/* Shopping Cart  */
#cart-text-color {
    color: #8ee4af;
}
/* link hovering */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
    background-color: #edf5e1;
}

.custom-toast {
    overflow: visible;
}

.toast-header {
    background-color: #edf5e1;
}

.toast-capper {
    height: 3px;
}
 /* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.close {
    background-color: #E6E6E6;
    opacity: .2;
    margin-left: 220px;
    color: black !important;
    font-weight: 500;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* Content Body */

#content-body {
    padding: 20px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #42629a;
	z-index: 0;
}
#overlay-products  {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: 	rgb(245,245,245);
    opacity: 0.2;
    
}
.overlay2 {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #8ee4af;
	z-index: -1;
}

#product-background {
    background-color:#edf5e1;

    z-index: -1;
}
a.category-badge > span.badge:hover {
    background: #5cdb95 !important;
    color: #42629a !important;
    z-index: 2;
}

#product-bages {
    z-index: 2;
}

.btn-outline-black {
    background: rgb(252, 252, 252);
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black !important;
    z-index: 1;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }
  
  /* pad the top a bit when navbar is collapsed on mobile */
  @media (max-width: 991px) {
      .header-container {
          padding-top: 116px;
      }
  
      body {
          height: calc(100vh - 116px);
      }
  }
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #header-1 {
        padding-top: 25px;
        height: 400px;
    }

    body {
        margin-top: 40px;
        padding-top: 100px;
    }

    #bottom-header {
       margin-top: 20px; 
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}


/* Ticker css */


