{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<body>
    <br>
    {% if messages %}
    
    <ul>
	{% for message in messages %}
	<div class="alert alert-success col-lg-6 col-sm-12 col-xs-12 text-center mx-auto" role="alert">
	    <li class="{{ message.tags }}">{{ message }}</li>
	</div>      
	{% endfor %}
    </ul>
    
    {% endif %}
    
    <div class="col-lg-6 col-md-8 mx-auto">
	{% crispy form %}
    </div>
</body>
{% endblock %}