{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid map-container2">
        <div class="row">
            <div class="col text-center mt-3">
               <div class="container-fluid map-top-header-bgcolor">
                  <div class="row">
                     <div class="col-md-8 col-md-12 text-center">
                        <h1 class="display-4 map-top-header-color logo-font text-center">
                           Our Devlopers and Founders
                        </h1>
                     </div>
                  </div>
               </div>
            </div>
         </div>
        <div class="row">
        <!---for loop of Devlopers profile-->   
        {% for team in teams %}
            <div id="dev-card"class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <!--Devlopers Profile image-->
            <div style="width:100%; text-align:center" class="h-100 card2 border-0">
                {% if team.image %}
                <a href="{{ team.image.url }}" target="_blank">
                    <img class="rounded-circle" src="{{ team.image.url }}" alt="{{ team.name }}">
                </a>
                
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" tyle="width: 350px; height: 250px;" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            <!--Devlopers Profile-->
                <h4 class ="px-3">{{ team.name }}</h4>
                <p class="college">Education: {{ team.college }}</p>
                <p class="text-muted">Years of Experience: {{ team.years_experience }}</p>
                <i class="text-muted">Quote: {{ team.quote }}</i>
                <div class="row">
                    <div class="col">
                    <a class="card-social" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    <a class="card-social" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a class="card-social" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a class="card-social" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a class="card-social" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <div class="col">
                            <a id="dev-btn" class ="btn-black1 border-0" href="#">View Profile <i class="fas fa-id-badge"></i></a>
                        </div>
                        *Down for Maintanice*
                    </small>
                {% endif %}
               
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock%}