{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div id="map-container2" class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <hr id="hr-color" class="w-100 mb-1">
                <h2 class="logo-font">The Devloper Team</h2>
                <hr id="hr-color" class="w-100 mb-1">
            </div>
        </div>
        <div class="row">
        <!---for loop of Devlopers profile-->   
        {% for team in teams %}
            <div id="dev-card"class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <!--Devlopers Profile image-->
            <div id="card2" style="width:100%; text-align:center" class="card h-100 text-center mt-3 mb-3 px-4">
                {% if team.image %}
                <img class="card-img-top img-fluid" src="{{ team.image}}" alt="{{ team.name }}"
                style="width: 50%px; height: 50%; padding-top: 10px; padding-bottom: 10px;">
                {% else %}
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg"  alt="{{ team.name }}" style="width: 350px; height: 250px;">
                {% endif %}
            <!--Devlopers Profile-->
                <h4 class ="px-3">{{ team.name }}</h4>
                <p class="college">Education: {{ team.college }}</p>
                <p class="text-muted">Years of Experience: {{ team.years_experience }}</p>
                <i class="text-muted">Quote: {{ team.quote }}</i>
                <div class="row">
                    <div class="col">
                    <a class="card-social" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    <a class="card-social" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a class="card-social" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a class="card-social" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a class="card-social" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <div class="col">
                            <a id="dev-btn" class ="btn-black1 border-0" href="#">View Profile <i class="fas fa-id-badge"></i></a>
                        </div>
                        *Down for Maintanice*
                    </small>
                {% endif %}
               
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock%}